<!-- farmacia/templates/medicamento_detail.html -->
{% extends 'farmacia/base_generic.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ medicamento.nombre }}</h1>
        <p class="mb-2">SKU: {{ medicamento.sku }}</p>
        <p class="mb-2">Laboratorio: {{ medicamento.laboratorio }}</p>
        <p class="mb-2">Principio Activo: {{ medicamento.principio_activo }}</p>
        <p class="mb-2">Acción Terapéutica: {{ medicamento.accion_terapeutica }}</p>
        <p class="mb-2">Presentación: {{ medicamento.presentacion }}</p>
        <p class="mb-2">Dosis: {{ medicamento.dosis }}</p>
        <p class="mb-2">Bioequivalente: {{ medicamento.bioequivalente }}</p>
        <p class="mb-2">Stock: {{ medicamento.stock }}</p>
        <p class="mb-2">Precio: ${{ medicamento.precio }}</p>
        <p class="mb-2">Proveedor: {{ medicamento.proveedor }}</p>
        <p class="mb-2">Fecha de Ingreso: {{ medicamento.fecha_ingreso }}</p>
        <p class="mb-2">Fecha de Vencimiento: {{ medicamento.fecha_vencimiento }}</p>
        <!-- Puedes agregar aquí más campos si es necesario -->
        <div class="mt-3">
            <a class="btn btn-warning" href="{% url 'medicamento_update' pk=medicamento.pk %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'medicamento_delete' pk=medicamento.pk %}">Eliminar</a>
        </div>
    </div>
{% endblock %}


 
